.TermsAndConditions {
  display: grid;
  grid-row-gap: var(--spacing-6x);
}

.TermsAndConditions__header {
  display: grid;
  grid-row-gap: var(--spacing-4x);
}

.TermsAndConditions__content {
  display: grid;
  grid-row-gap: var(--spacing-6x);
}

.TermsAndConditions__section {
  display: grid;
  grid-row-gap: var(--spacing-3x);
}

.TermsAndConditions__list {
  margin: 0;
  padding-left: var(--spacing-6x);
  display: grid;
  grid-row-gap: var(--spacing-2x);
}

.TermsAndConditions__footer {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-4x);
}
