.HomeView__intro {
  display: grid;
  grid-row-gap: 24px;

  .estampa1 {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
}

.HomeView__form {
  margin-top: 48px;
  display: grid;
  grid-row-gap: 24px;
  place-items: center;
}