.ValidteView {
  display: grid;
  grid-row-gap: var(--spacing-6x);
}

.ValidteView__head {
  display: grid;
  grid-row-gap: var(--spacing-6x);
  .ValidteView__estampa {
    margin: 0 auto;
    width: 250px;
  }
}

.ValidteView__validate {
  display: grid;
  grid-row-gap: var(--spacing-6x);
  place-items: center;

}

.ValidteView__validate__input {
  display: flex;
  grid-column-gap: var(--spacing-4x);
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .ValidteView {
    grid-template-columns: 0.7fr 1fr;
    grid-column-gap: var(--spacing-8x);
  }
}