.LoginView {
  display: grid;
  grid-row-gap: var(--spacing-6x);
}

.LoginView__head {
  display: grid;
  grid-row-gap: var(--spacing-6x);
}

.LoginView__estampa {
  margin: 0 auto;
  width: 40%;
  max-width: 236px;
}

.LoginView__login {
  margin-top: var(--spacing-6x);
  display: grid;
  grid-row-gap: var(--spacing-6x);
  place-items: center;
}

@media screen and (min-width: 768px) {
  .LoginView {
    grid-template-columns: 0.7fr 1fr;
    grid-column-gap: var(--spacing-8x);
  }
}