.button {
  background: none;
  border: none;
  border-radius: 40px;
  font-family: "Bree Serif", serif;
  font-size: 20px;
  padding: 10px 24px;
}

.button--box {
  background: var(--black-80);  
  color: var(--gray-80);
}

.button--text {
  color: var(--black-80);
  text-decoration: underline;
}