.button {
  background: none;
  border: none;
  border-radius: 40px;
  font-family: "Bree Serif", serif;
  font-size: 20px;
}

.button--box {
  background: var(--black-80);  
  color: var(--gray-80);
  padding: 10px 24px;
}

.button--text {
  color: var(--black-80);
  text-decoration: underline;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--loading {
  cursor: wait;
}

@media (prefers-color-scheme: dark) {
  .button--box  {
    background: var(--gray-80);
    color: var(--black-80);
  }

  .button--text{
    color: var(--gray-80);
  }
}