.input {
  background: var(--gray-80);
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--black-80); 
  font-family: "Bree Serif", serif;
  font-size: 24px;
  padding: 16px 18px;
  width: 100%;
}

.input:active, .input:focus {
  outline: none;
}