.logo {
  align-items: center;
  background: var(--gray-80);
  color: var(--gray-60);
  display: flex;
  font-size: 24px;
  font-weight: 100;
  justify-content: center;
}

.logo--mini {
  width: 60px;
  height: 60px;
}


@media (prefers-color-scheme: dark) {
  .logo {
    background: var(--gray-60);
    color: var(--gray-80);
  }
}