.tag-selector {
  display: flex;
  grid-column-gap: var(--spacing-2x);
  grid-row-gap: var(--spacing-2x);

  .tag {
    background: var(--gray-80);
    border: none;
    border-radius: 20px;
    color: var(--black-80);
    font-family: "Bree Serif", serif;
    font-size: 18px;
    padding: 6px 18px;
  }

  .tag--selected {
    background: var(--black-80);
    color: var(--gray-80);
  }
}

.tag-selector__value {
  display: none;
}

