.typography {
  color: var(--gray-40);
}

.typography--title {
  margin: 0;
  font-size: 36px;
}

.typography--paragraph, .typography--section  {
  margin: 0;
  font-size: 18px;
}

.typography--section {
  text-decoration: underline;
  color: var(--black-100);
}

.typography--center {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .typography {
    color: var(--gray-80);
  }
}